/*--------------------------------*/
/* Addon Pack Call To Action Styles
/*--------------------------------*/

.ap-cta-wrapper{
    background-color: #353535;
    width: 100%;
    height: auto;
    display: block;
    padding: 28px;
    font-size: 16px;
    color: #4d4d4d;
    line-height: 27px;
    margin: 0 auto;

    .ap-cta-title{
      color: #fff;
      font-size: 36px;
	    font-weight: 600;
	    line-height: 36px;
	    margin-bottom: 12px;
	    text-transform: capitalize;
      font-style: normal;
    }

    .ap-cta-content{
        font-size: 16px;
        color: #fff;
    }

    .ap-cta-button {
      text-align: center;
      text-decoration: none !important;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 2px;
      position: relative;
      display: inline-block;
      background: #f9f9f9;
      font-size: 16px;
      margin-right: 10px;
      margin-top: 10px;
      z-index: 0;
      overflow: hidden;
  
    .ap-cta-button-icon-right {
      margin-right: 5px;
    }

    .ap-cta-button-text{
      vertical-align: middle;
    }
    
  }

    .ap-cta-button-xs {
      padding: 4px 8px;
      font-size: 12px;
    }

    .ap-cta-button-sm {
      padding: 6px 10px;
      font-size: 14px;
    }

    .ap-cta-button-md {
      padding: 8px 14px;
      font-size: 16px;
    }

    .ap-cta-button-lg {
      padding: 10px 16px;
      font-size: 18px;
    }

    .ap-cta-button-xl {
      padding: 12px 18px;
      font-size: 24px;
    }
}


