/* -------------------------------- */
/* Addon Pack Contact form 7 Styles
/* -------------------------------- */

.ap-cf7{
    .ap-cf7-content{
        .ap-cf7-title{
            margin: 0;
            color: #000000;
        }

        .ap-cf7-description{
            color: #555;
            margin: 0;
        }
    }
}